a, .btn, .tab .tab-item a.active, .tab .tab-item.active a, a.active, a:active, a:focus, a:hover, .btn.btn-link.active, .btn.btn-link:active, .btn.btn-link:focus, .btn.btn-link:hover, .tab .tab-item a:focus, .tab .tab-item a:hover {
	color: #E68200;
}

.btn.btn-primary:focus, .btn.btn-primary:hover {
	background-color: #995700;
	border-color: #995700;
}

.btn, .btn.btn-primary, .tab .tab-item a.active, .tab .tab-item.active a, .btn:focus, .btn:hover, .form-input:focus {
	border-color: #E68200;
}

.btn.btn-primary {
	background-color: #E68200;
}

.btn:focus, .btn:hover {
	background-color: #fff4e6;
}

.btn.btn-link {
	color: black;
}

.form-input:focus {
	box-shadow: 0 0 0 0.1rem rgba(230,130,0,.2);
}

a:focus {
	box-shadow: none;
}

.btn.btn-link.active, .btn.btn-link:active, .btn.btn-link:focus, .btn.btn-link:hover {
	background-color: transparent;
	border-color: transparent;
}

/* Utilities */

.navbar {
	padding-left: 7px;
    padding-right: 7px;
    padding-top: 7px;
}

.navbar-brand {
	white-space: nowrap;
}

.tab-item-content {
	padding-top: 20px;
}

/* Overrides */

.panel {
	margin-bottom: .8rem;
}

.btn-menu {
	padding-left: 0px;
}

.toast {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	transform: translateY(100%);
	opacity: 0;
	transition: all .3s;
	z-index: 1;
	border-radius: 0px;
}

.toast-appeared {
	transform: translateY(0%);
	opacity: 1;
}